[submodule "cmake/CMakePCHCompiler"]
	path = cmake/CMakePCHCompiler
	url = https://github.com/nanoant/CMakePCHCompiler.git
[submodule "lib/trie"]
	path = lib/trie
	url = https://github.com/stream009/trie.git
[submodule "lib/radix_tree"]
	path = lib/radix_tree
	url = https://github.com/stream009/radix_tree.git
