[submodule "lib/trie"]
	path = lib/trie
	url = https://github.com/stream009/trie.git
[submodule "lib/radix_tree"]
	path = lib/radix_tree
	url = https://github.com/stream009/radix_tree.git
[submodule "third_party/adblock_parser"]
	path = third_party/adblock_parser
	url = git@gitlab.com:stream9/adblock_parser.git
